<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>บ็อก บ็อก</h1>
    <p>Welcome to my first Django project</p>
    <a hreft="../home" >home</a>
    <a hreft="../blogs" >blogs</a>
    <a hreft="../contact" >contact</a>
    <a hreft="../members" >members</a>
    <a hreft="../about" >about</a>
    <ul>
        {% for x in blogs %}
          <li>{{ x.title }} {{ x.detail }}</li>
        {% endfor %}
      </ul>
</body>
</html>